.login{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lcontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #cbcbcb;
    padding: 50px;
    width: 300px;
    box-shadow: 5px 10px #ebebeb;
}

.lcontainer input{
   padding: 10px 15px;
   border-radius: 4px;
   font-weight: 500;
   color: rebeccapurple;
   font-size: 15px;
   
}


.lButton{
    padding: 7px;
    border-radius: 6px;
    border: green;
    background: #76d776;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.lButton:hover{
    background: #5ec25e;
}
.headingLog{
    text-align: center;
    position: relative;
    bottom: 13px;
    letter-spacing: 6px;
}

.error{
    color: red;
    font-size: 18px;
}